# for VGP:
inducing_points_size: 32

learning_rate: 0.01
num_epochs: 200
device: cpu
epoch_block: 10
kernel_mode: 2

intrinsic_kernel_params: 
    normed: false
    kernel_type: laplacian
    heat_temp: .01
    noise_factor: .0
    amplitude: 0.5
    n_neighbor: 5
    lengthscale: .3
    neighbor_mode: distance
    power_factor: 1
    invert_M_first: false 
    normalize: false

dataset_name:  animal_no_animal #fashionMNIST
dataset_kind: LPU
data_generating_process: SB #SB # either of CC (case-control) or (SB) (selection-bias)

ratios: 
  # *** NOTE ***
  # TRAIN_RATIO == 1. - HOLDOUT_RATIO - TEST_RATIO - VAL_RATIO
  # i.e. test_ratio + val_ratio + holdout_ratio + train_ratio == 1
  test: 0.25 
  val: 0.2
  holdout: .05 
  train: .5 


batch_size: 
  train: 64
  test: 64
  val: 64
  holdout: 64

