lr: 0.001
num_epochs: 200
device: cpu
dtype: constants.DTYPE
train_val_ratio: .1
evaluation_interval: 1
epoch_blocks: 1
kde_mode: logit
loss_type: null
nrep: 10
consistency: 0.3
weight: 1.0
gpu: null
loss: nnPU
dataset: mnist
mean_teacher: false
self_paced_type: A
soft_label: false
seed: 1 
batch_size: 64
momentum: 0.9
weight_decay: 0.005
log_path: logs/
modeldir: lpu/external_libs/Self_PU/checkpoints
task_name: temp
epochs: 200
num_workers: 0
ema_start: 50
ema_decay: 0.999
consistency_rampup: 400
self_paced: false
self_paced_start: 10
self_paced_stop: 50 
self_paced_frequency: 10
increasing: true
replacement: true
evaluation: false 
top: 0.5